#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;

    display: flex;
    flex-direction: row; /*porque quero que tudo que esteja no app fica um ao lado do outro inline
    */
    align-items: flex-start; /*porque quero que os blocos fiquem alinhados ao topo */
}